<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" lang="es" content="panaderia, postres, cafeteria"> 
        <title>Panaderia </title>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
        <link href="fonts/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Sirin+Stencil&family=Vast+Shadow&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid justify-content-center">
            <!--Menu-->
            <nav class="navbar navbar-expand-lg navbar-dark badge-dark ">
                <a class="navbar-brand" href="#"><img src="img/logo.png" alt="logo" class="logo-brand"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="inicioADMIN.html" id="inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pedidosADMIN.html" id="Pedido">Pedidos Pendientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/_harpers/" id="Pedido">Hacer Publicacion en Instagram</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/Harpers_text=true&width=500" id="Pedido">Hacer Publicacion en Facebook</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="inicioADMIN.html">Admin</a>
                                <a class="dropdown-item" href="index.html">Usuario</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr>

            <!--Pedidos-->
            
            
 <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
                
            </section>


            <section th:fragment="agregarPedido">
                <div id="agregarPedido" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-info text-white">
                                <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Pedido</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div> 
                            <form th:action="@{/pedido/guardar}" th:object="${pedido}"
                                  method="POST" class="was-validated">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="id_pedidoLocal" th:text="#{pedido.id_pedidoLocal}">Id</label>
                                        <input type="number" class="form-control" name="id_pedidoLocal" required="true"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="nombreCliente" th:text="#{carro.nombreCliente}">nombreCliente</label>
                                        <input type="text" class="form-control" name="nombreCliente" required="true"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="numeroTelefono" th:text="#{carro.numeroTelefono}">numeroTelefono</label>
                                        <input type="number" class="form-control" name="numeroTelefono" required="true"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcionPedido" th:text="#{pedido.descripcionPedido}">descripcionPedido</label>
                                        <input type="text" class="form-control" name="descripcionPedido"/>
                                    </div>    
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>        

            <section th:fragment="listadoPedidos" id="pedidos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header">
                                    <h4> Pedidos </h4>
                                </div>
                                <div th:if="${pedidos != null and !pedidos.empty}">
                                    <table class="table table-stryped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th th:text="#{pedido.id_pedidoLocal}">Id</th>
                                                <th th:text="#{pedido.nombreCliente}">NombreCliente</th>
                                                <th th:text="#{pedido.numeroTelefono}">NumeroTelefono</th>
                                                <th th:text="#{pedido.descripcionPedido}">DescripcionPedido</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="pedido : ${pedidos}">
                                                <td> Numero Pedido</td>
                                                <td> Nombre del cliente </td>
                                                <td> Numero de telefono </td>
                                                <td> Descripcion del pedido </td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/pedido/eliminar/}+${pedido.id_pedidoLocal}"
                                                       class="btn btn-danger">
                                                        <i class="fas fa-trash-can"></i> Eliminar Pedido
                                                    </a>
                                                </td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/pedido/modificar/}+${pedido.id_pedidoLocal}"
                                                       class="btn btn-success">
                                                        <i class="fas fa-pencil"></i> Actualizar Pedido
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center p-2" th:if="${pedidos == null or pedidos.empty}">
                                    <span th:text="#{pedido.no_mostrar}">Lista vacía</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">                        
                            <div class="card text-center bg-success text-white mb-3">
                                <div class="card-body">
                                    <h3 th:text="#{pedido.totalPedidos}">Total Pedidos</h3>
                                    <h4 class="fs-2">
                                        <i class="fas fa-users"></i> 
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            
                        
            <!--Inicio del footer-->
            <section class="footer container-fluid mt-5 mb-5">
                <div class="row mt-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="horario">Lunes - Domingo/ 6:30am - 9:00pm | Tel: 8540-3470</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center align-content-between textoFooter">
                        <p class="text-left">Contacto:</p> 
                        <span class="icon-location ubicacion text-center d-flex ml-4">  San José - Escazú - Costa Rica </span>
                        <br>
                        <span class="icon-phone ubicacion text-center d-flex ml-4">  Tel:8540-3470</span>
                        <br>
                        <span class="icon-envelop ubicacion text-center d-flex ml-4">  info@panaderiaHarpers.com </span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center align-content-between textoFooter">
                        <p>Siguenos en:</p> 
                        <a href="https://www.facebook.com/profile.php?id=100094692098319_text=true&width=500" target="_blank">
                            <span class="icon-facebook2"></span>
                        </a>
                        <a href="https://www.instagram.com/_harpers/"><span 
                                class="icon-instagram"></span></a>
                        <p>Contamos con:</p>
                        <a href="#"><span class="icon-ubereats mb-5"></span></a>
                        <a href="#"><span class="glovo mb-5">Glovo!</span></a>
                        <p>Formas de pago:</p>
                        <a href="#"><span class="icon-paypal mb-5" style="font-size: 50px;"></span></a>
                        <a href="#"><span class="icon-mastercard mb-5"  style="font-size: 50px;"></span></a>
                        <a href="#"><span class="icon-visa mb-5"  style="font-size: 50px;"></span></a>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <p class="credito ">Created By <b style="color: darkred;">Grupo #6 WB  </b>|2023 All rights reserved</p>
                    </div>
                </div>
            </section>  
        </div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
