hr{
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: brown;
    height: 2px;
}
/*Menu*/
.navbar{
    background-color: #000;
    min-height: 50px;
}
.nav-link{
    color: #ffffff;
}
.logo-brand{
    min-width: 120px;
    max-width: 10px;
}
.navbar-toggler:focus{
    outline:none;
}
/*cierre del menu*/
/*Inicio del header*/
.titulo img{
  width: 100%;
}
/*fin del header*/
.linea{
    border-bottom: solid 2px #FBB03B;
    color: #902729;
}
.cajaTexto{
  background-color: cornsilk;
  border-left: 5px solid #902729;
}
.cajaTexto p{
  font-size: 28px;
  color: #902729;
}






/*footer*/
.footer{
    background-color: black;
  }
  .horario{
    color: #fff;
    text-align: center;
  }
  .textoFooter{
    color: #fff;
  }
  .ubicacion{
    color: #fff;
  }
  .icon-facebook2::before {
    color: #fff;
   font-size: 30px;
   margin-right: 5px;
  }
  .icon-instagram::before {
    color: #fff;
   font-size: 30px;
  }
  .glovo{
    color: rgb(18, 158, 30);
    font-size: 25px;
    font-family: bold;
  }
  .icon-ubereats{
    font-size: 40px;
    margin-right: 10px;
  }
  .credito{
    color: #fff;
    text-align: center;
  }
